html {
  box-sizing: border-box;
}

*, 
*:before,
*:after {
  box-sizing: inherit;
}

body {
  margin: 64px auto;
  width: 94%;
  max-width: 640px;
  line-height: 1.5;
  font-family: "Helvetica Neue", Arial, sans-serif;
  text-align: center;
}

button {
    font-size:20px;    
    padding:10px;
    margin:10px;
}

.directions {
    padding:15px;
    text-align:left;
}
